body {	background: #ccc;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold; color: #ff0549;	margin: 0; }
a {color: #ff0549; text-decoration: none;}
a:hover {color: #000; }
label { font-size: 10px;}
hr { height: 0; border-top: 1px solid #ccc; margin: 0 0 12px;}
input, label, select { cursor: pointer;}
#top {float: left; width: 100%; font-weight: bold; border-bottom: 3px solid #999;}
.wrap {width: 950px; margin: 0 auto;}
.ar { color: #ff0080;}
/* ------------------------------- HEADER STYLES --------------------------------------- */
#logo { font-size: 50px; line-height: 39px; padding: 14px 0 0; float: left;}
#warp { float: right;}

#navi { padding: 0;}
#navi li {float: left; list-style: none; padding: 0 12px 0 0; cursor: pointer;}

/* -------------------------------------------- BODY STYLES --------------------------------------- */
#contPane {float: left; margin: 18px 0 0 0; width: 100%;}
#options { float: left; width: 210px; text-align: center; background: #f1f1f1; padding: 6px; margin: 0; border: 1px solid #999;}

#options div {margin: 0 0 6px 0; font-size: 14px; }

input { margin: 0 0 18px 0; padding: 4px; border: 1px solid #999; font-weight: bold; text-align: center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e6e7e8));
	background: -webkit-linear-gradient(#ffffff, #e6e7e8);
	background: -moz-linear-gradient(#ffffff, #e6e7e8);
	background: -ms-linear-gradient(#ffffff, #e6e7e8);
	background: -o-linear-gradient(#ffffff, #e6e7e8);
	background: linear-gradient(#ffffff, #e6e7e8);
}
input:hover {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e6e7e8), to(#ffffff));
	background: -webkit-linear-gradient(#e6e7e8, #ffffff);
	background: -moz-linear-gradient(#e6e7e8, #ffffff);
	background: -ms-linear-gradient(#e6e7e8, #ffffff);
	background: -o-linear-gradient(#e6e7e8, #ffffff);
	background: linear-gradient(#e6e7e8, #ffffff);
}
select { margin: 0 0 18px 0; width: 200px; padding: 4px; font-weight: bold; text-align: center;}
.listBox { font-size: 11px; border: 1px solid #999; float: left; padding: 12px; width: 680px;  background: #eee; overflow: auto;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}
.col2 {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}
.listBox a { display: block;}
.round {-moz-border-radius: 8px;}
#zipper {cursor: pointer;}
#result {display: none;}


/* ---------------------------------- box Styles -------------------------- */
.boxPane { float: left; margin: 0 8px 0 0;}
.boxPane h4, #acctPane h4 { margin: 0 0 4px 0; font-size: 16px;}
.boxPane.last { margin: 0;}

.funcBox {height: 93px; width: 93px; margin: 6px 14px; border: 10px solid #e6e6e6; float: left; cursor: pointer; display: block;}


/* ----------------------- clearfix -------------------- */
.cf:after {content: ".";display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.cf {*height: 1%;}